{{> playlist-list }}

<form class="form new-post-form">
  <div class="form-group">
    <label for="post-title">Post Title</label>
    <input class="form-input" type="text" id="title" />
  </div>
  <div class="form-group">
    <label for="entry">link</label>
    <input class="form-input" type="text" id="link" />
  </div>
  <div class="form-group">
    <label for="entry">length</label>
    <input class="form-input" type="text" id="length" />
  </div>
  <button type="submit" class="btn">submit</button>
</form>




<script src='/js/addPost.js'></script>