<div>
<button type="submit" class="loginButton"><a href="/spotify-login">Spotify login</a></button>
<img class="loginImg" src="https://i5.walmartimages.com/asr/3f1f9c01-0ae7-43dc-ae6f-1cdc314d45e0_1.ea657b7422437eecff13e774fac6ba87.jpeg" alt="background image of spotify genres tab">


</div>
<div>
<script src="/js/spotify.js"></script>
</div>