<div id="signin-confirmation">
    <h4>Signed In</h4>
    <small>Section Rendered by Server File</small>
    <from id="playlist-form">
        <button type="submit"> Select a playlist</button>
    </from>
</div>
<script src="/js/playlist-select"></script>