<div class="row align-center mb-5">
    <div class="col-md-6">
        <h2><a href="/singlePost/{{playlists.id}}">{{playlists.title}}</a></h2>
    </div>
    <div class="col-md-6">
        <iframe src="https://open.spotify.com/embed/playlist/{{playlists.link}}" width="300" height="380"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div>
        <h4>Comments</h4>
        {{#each playlists.comments}}
        <p class="m-2">{{entry}}</p>
        {{/each}}
    </div>
    <form class="form new-comment-form">
        <div class="form-group">
            <label for="comment">Comment</label>
            <input class="form-input" type="text" id="comment" />
        </div>
        <button type="submit" class="btn">submit</button>
    </form>

</div>

<script src='/js/addComment.js'></script>