<div class="col-md-6">
    <h2><a id="add-playlist" href="/newplaylist">Add a playlist</a></h2>
</div>
{{> playlist-list}}

{{#each playlists as |playlist| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2><a href="/singlePost/:{{playlist.id}}">{{playlist.title}}</a></h2>
  </div>
  <div class="col-md-6">
    <iframe src="https://open.spotify.com/embed/album/{{playlist.link}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
{{/each}}