{{!-- <div id="signin-confirmation">
    <h4>Signed In</h4>
    <small>Section Rendered by Server File</small>
    {{meData}}
    <from id="playlist-form">
        <button type="submit"> Select a playlist</button>
    </from>
</div>
<script src="/js/playlist-select"></script> --}}

{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2><a href="/editPost/{{user.playlists.id}}">{{user.playlists.title}}</a></h2>
  </div>
  <div class="col-md-6">
    <iframe src="https://open.spotify.com/embed/playlist/{{user.playlists.link}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
{{/each}}