:root {
    --spotify: rgb(30, 215, 96);
    --darkSpotify: rgb(6, 46, 20);
    --darkerSpotify: rgb(0, 2, 1);
}


body {
    background-image: linear-gradient(to right, gray, rgb(68, 68, 68), rgb(54, 54, 54));
}

.loginImg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: relative;
    top: 0;
    left: 0;
    
  }




.loginButton{
    display: block;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 40%;
    border-width: thick;
    border-color: var(--darkSpotify);
    background-color: var(--spotify);
}

.loginButton:hover{
    color: white;
    border-width: medium;
    -webkit-transform: scale(1.5); 
    -ms-transform: scale(1.5); 
    transform: scale(1.5);
}

.navbar{
    color: var(--spotify);
    font-size: 19px;
}

a.nav-link:hover{
    background-color: var(--spotify);
    border-radius: 25px;
}

.main{
    display: flex;
    display: inline-block;
}

.singlePostTitle {
    color: var(--spotify);
    padding: 20px;
}

.iframe{
    margin-left: 100px;
    padding: 20px;
}

h2 {
    color: var(--spotify);
}

.commentSection{
    border: solid;
    border-color: var(--darkSpotify);
    padding: 15px;
    color: white;
    font-weight: 500;
    background-color: var(--darkerSpotify);
    padding: 20px;
}

.form-input{
    background-color: rgb(230, 230, 230);
    width: 700px;
    height: 40px;
}

h4 {
    color: var(--spotify);
}  

.btn {
    background-color: var(--spotify);
    border-radius: 25px;
    margin-left: 70px;
    margin-bottom: 50px;
}

.btn:hover{
    color: white;
}

