:root {
    --spotify: rgb(30, 215, 96);
    --darkSpotify: rgb(6, 46, 20);
    --darkerSpotify: rgb(0, 2, 1);
}


body {
    background-image: linear-gradient(to right, gray, rgb(68, 68, 68), rgb(54, 54, 54));
}
                    /* LOGIN PAGE */
.loginImg {
    /* Set rules to fill background */
    min-height: 100%;
    max-width: 60%;
    margin: 0 auto;
    /* Set up proportionate scaling */
    height: auto;
    -webkit-transform: scale(.75); 
    -ms-transform: scale(.75); 
    transform: scale(.75);
      
    /* Set up positioning */
    position: absolute;
    z-index: -1;
    top: -10%;
    /* top: 0;
    left: 0; */
    
  }
.featuredContainer {
    margin: 0 auto;
    width: 100%;
}
  .float-above {
    z-index: 3;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    

}

.feature-line {
    font-size: 0.8rem;
   color: #c9c9c9;
}
.featured-playlist {
    font-size: 3.8rem;
    color: #fff;
  
}
.loginButton{
    display: block;
    margin: 0 auto;
    color:rgb(40, 40, 40);
    margin-top: 15px;
    border-width: 3px;
    border-color: var(--spotify);
    background-color: transparent;
}
.loginButton a{
    color:rgb(135, 135, 135);
}
.loginButton:hover{
    color: white;
    border-width: medium;
    -webkit-transform: scale(1.5); 
    -ms-transform: scale(1.5); 
    transform: scale(1.5);
}

.upvote-button {
    border: 0px;
    background-color: transparent;
}

#add-playlist {
    font-size: 1.6rem;
    color:rgb(150, 150, 150);
    
}
#add-playlist:hover {
    font-size: 1.6rem;
    color:rgb(205, 205, 205);
    
}
.edit-p {
    font-size: 0.7rem;
    color:rgb(135, 135, 135)
}
.edit-p:hover {
    font-size: 1.3rem;
    color:rgb(120, 120, 120)
}
                    /* NAV BAR */
.navbar{
    color: var(--spotify);
    font-size: 19px;
}

a.nav-link:hover{
    background-color: var(--spotify);
    border-radius: 25px;
}

 .playlist-wrap {
    padding: 7% 3%;
}

.playlist-display {
    max-width: 94%;
} 

                    /* Single Post Page */

.playlist-button {
    max-height: 32px;
    border: 1px solid #333;
    border-radius: 10px;
}

.main {
    display: flex;
    display: inline-block;
}

.singlePostTitle {
    color: var(--spotify);
    padding: 20px;
}

.iframe {
    margin-left: 100px;
    padding: 20px;
}

h2 {
    color: var(--spotify);
}

.commentSection {
    color: rgb(133, 133, 133);
    font-weight: 500;
    font-size: 10px;
    background-color: rgb(228, 228, 228);
    padding: 2px 4px;
    max-height: 150px;
    overflow: auto;
}
.card-styles {
    max-height: 440px;
    overflow: auto;
    margin-bottom: 16px;
}
.my-title {
   font-size: 0.75rem;

}
.comment {
    border-bottom: 1px solid rgb(150, 150, 150);
}
.form-input {
    background-color: rgb(230, 230, 230);
    
}

h4 {
    color: var(--spotify);
}  

.btn {
    color:rgb(68, 68, 68);
    font-size: 0.58rem;
}

.btn:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
    color: #000;
}

                    /* Discover Page */

.playlistDiscover{
    margin-top: 5vh;
    background-color: var(--spotify);
    border-radius: 5px;
}

.playlistDiscover:hover{
    background-color: white;

}

.playlistDiscover a {
    color: black;
    text-decoration: none;
}

.playlistDiscover:hover a {
    color: black;
    text-decoration: none;
}

.allDiscover{
    background-color: var(--darkSpotify);
    border-radius: 20px;
    padding-top: 10px;
}
