body {
    background-image: linear-gradient(to right, gray, rgb(68, 68, 68), rgb(54, 54, 54));
}

a.nav-link:hover{
    background-color: rgb(163, 163, 163);
}
 .playlist-wrap {
    padding: 7% 3%;
}
.playlist-display {
    max-width: 94%;

} 

.playlist-button {
    max-height: 32px;
    border: 1px solid #333;
    border-radius: 10px;
}